
<mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/assignments']" routerLinkActive="active" (click)="sidenav.close()">
          <mat-icon matListIcon>assignment</mat-icon>
          Assignments
        </a>
        <a mat-list-item [routerLink]="['/signup']" routerLinkActive="active" (click)="sidenav.close()" *ngIf="!isLoggedIn()">
          <mat-icon matListIcon>person_add</mat-icon>
          Créer un compte
        </a>
        <a mat-list-item [routerLink]="['/login']" routerLinkActive="active" (click)="sidenav.close()" *ngIf="!isLoggedIn()">
          <mat-icon matListIcon>login</mat-icon>
          Connexion
        </a>
        <a mat-list-item (click)="logout(); sidenav.close()" *ngIf="isLoggedIn()">
          <mat-icon matListIcon>logout</mat-icon>
          Déconnexion
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Contenu principal -->
    <mat-sidenav-content>
      <div class="content">
        <button mat-icon-button (click)="sidenav.toggle()" class="toggle-button">
          <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

